.hidden {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "pretendard", Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

li {
    list-style: none;
}

input {
    border: none;
    background-color: transparent;
    outline: none;
}

img {
    position:absolute;
    width:100vw;
    /* height:100%; */
    top: 0px;
    left: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity: 0.65;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 136px;
    color: #fff;
}
#clock {
    font-size: 136px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
#greeting {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

#todo-form {
    position: relative;
    height: 40px;
    margin-top: 32px;
    margin-bottom: 0;
}

#todo-form input {
    position: absolute;
    left: 50%;
    width: 280px;
    height: 100%;
    transform: translateX(-50%);
    padding: 8px;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #dedede;
    transition: all 200ms;
}
#todo-form input:focus {
    border-color: #fff;
}

#todo-form input:focus::placeholder {
    color: #fff;
}

#todo-form input::placeholder {
    font-size: 16px;
    color: #dedede;
}
#quote {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding-bottom: 32px;
    font-size: 14px;
    color: #cdcdcd;
    text-align: center;
}
#quote p {
    margin-bottom: 10px;
}
#quote span {
    font-size: 12px;
}

#weather {
    padding-top: 24px;
    padding-left: 24px;
    color: #fff;
}

#weather p {
    font-size: 20px;
    margin-bottom: 4px;
}

#weather span {
    font-size: 14px;
}
#todo-list-wrap {
    position: absolute;
    right: 24px;
    bottom: 32px;
}
#todo-list-open {
    color: #fff;
}

#todo-list {
    width: 200px;
    min-height: 160px;
    padding: 16px;
    /* border-radius: 4px; */
    /* background-color: rgba(0, 0, 0, 0.2); */
}
/* #todo-list::before {
    content: "TO DO";
    color: #fff;
    line-height: 40px;
} */

#todo-list li {
    position: relative;
    width: 100%;
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

#todo-list input {
    margin-right: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#todo-list button {
    position: absolute;
    right: 0;
    color: #fff;
    cursor: pointer;
}